# dependencies
node_modules/

# next.js
.next/
out/

# env files
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# https://resume.almagrow.com/dashboard/resumes

# https://www.almabetter.com/events